Zapiski/fazapiski.aux
Zapiski/fazapiski.fdb_latexmk
Zapiski/fazapiski.fls
Zapiski/fazapiski.log
Zapiski/fazapiski.synctex.gz
Domace_naloge/
Literatura/
Predavanja/
Zapiski/sections/section1.aux
Zapiski/sections/section2.aux
Zapiski/sections/section3.aux
Zapiski/sections/section4.aux
Zapiski/sections/section5.aux
Zapiski/sections/section6.aux
